
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true" use-expressions="true">
		<access-denied-handler error-page="/403page" />
		<intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/user/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />
		<intercept-url pattern="/listUser**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/Admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/productsForm**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/carousalNew**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/categorylist**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/cartItemDisplay**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/details**" access="hasRole('ROLE_USER')" />
		<form-login login-page='/login' username-parameter="userName"
			password-parameter="password" default-target-url="/user"


			authentication-failure-url="/login?authfailed" />
		<logout logout-success-url="/login?logout" />

		<csrf disabled="true" />
	</http>

	<!-- <authentication-manager> <authentication-provider> <user-service> <user 
		name="mahesh" password="123" authorities="ROLE_USER" /> <user name="admin" 
		password="123" authorities="ROLE_ADMIN,ROLE_USER" /> </user-service> </authentication-provider> 
		</authentication-manager> -->


	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select userName,password,enabled from User where userName=?"
				authorities-by-username-query="select u1.userName, u2.role from User u1, User_authorization u2 where u1.id = u2.id and u1.userName =?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans> 